body {
	font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
	background: radial-gradient(circle, #D6C0BA 0%,#BEA7A7 100%);
	color: #5b5258
}

.red {
  background-color: #e2625d;
}

.green {
  background-color: #B1ED77;
}

.teal {
  background-color: #95DBE5;
}

.borderLines {
	color: #867982;
}

.placeholderDark::-webkit-input-placeholder {
	color: #5b5258;
	font-style: italic;
	font-variant: small-caps;
	font-weight: 300;
}
